
 body {
      position: relative; 
	  background-color: black;
  }

.image1
{
  background-image: url('image1.jpg');
  background-repeat: no-repeat;
  background-position:center;
  height:800px;
  background-size:cover;
}
.image2
{
  background-image: url('image2.jpg');
  background-repeat: no-repeat;
  background-position: 5% 20%;
  height:800px;
  background-size:auto;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}


* {
  box-sizing: border-box;
}

.responsive {
  padding: 6px 6px;
  float: left;
  width: 24.99999%;
}
.abs{
   
   position:absolute;
   right:280px;
   top:1400px;
   


}
	


h1
{
	position:absolute;
	left:500px;
	top:200px;
	font-size:60px;
	color:yellow;
}


h2
{
	font-size:60px;
	color:white;
	
}
h3
{
	font-size:40px;
	color:white;
	text-align:center;
}
p1
{
	font-size:40px;
	color:white;
	text-align:center;
}
.container {
  position: relative;
  text-align: center;
  color: black;
}
.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bs-example{
        margin: 20px;        
    }
	
	
.footer {
   padding:2px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   text-align: center;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
 
  color: white;
}

.fa-twitter {

  color: white;
}
.fa-instagram {
  color: white;
}

